.hero{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero > div{
    width: calc(100vw - 2rem);
    max-width: 1500px;
    margin: auto;
}
h1{
    font-size: 8rem;
    padding: 3rem 0;
}
.hero p{
    font-size: 2rem;
}
.activity{
    width: 100vw;
    display: flex;
}
.activity > div:nth-child(1){
    display: grid;
    align-items: center;
    text-align: center;
    margin: 2vw;
    font-size: 1.3rem;
}
.activity h2{
    font-size: 3.5rem;
    padding: 2rem 0;
}
.activity p{
    margin-bottom: 1rem;
}
.activity a{
    font-size: 1.5rem;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    h1{
        font-size: 4rem;
    }
    .activity{
        flex-flow: column;
        margin-bottom: 1rem;
    }
    .activity > div:nth-child(1){
        width: calc(100vw - 2rem);
        margin: 1rem;
    }
    .activity-img{
        width: calc(100vw - 2rem);
        padding: 1rem;
    }
}
@media screen and (min-width: 1000px) {
    .activity{
        flex-flow: row;
        margin-bottom: 3rem;
    }
    .img-left > div:nth-child(1){
        order: 2;
    }
    .img-left > div:nth-child(2){
        order: 1;
    }
    .activity-img{
        width: 45vw;
        padding: 0 2.5vw;
    }
    .activity > div:nth-child(1){
        width: 45vw;
    }
}
