main{
    margin-top: 6rem;
}

h1{
    font-size: 4rem;
    padding: 3rem 0;
}

h3 {
    text-align: center;
}

hr {
   width: 400px; 
   align-self: center;
}

.Introduction {
    text-align: center;
}

.menuFnd {
    display: grid;
    flex-flow: column;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.info > div{
    font-style: bold;
}