.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    background-color: black;
    color: white;
}
.nav-logo-container{
    grid-column: 1;
    display: flex;
    align-items: center;
}
h3{
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
}
.nav-logo-container > img{
    height: 4rem;
    padding: 1rem;
}
.nav{
    grid-column: 3;
    display: flex;
    align-items: center;
}
#burger-menu{
    width: max-content;
    cursor: pointer;
}
#burger-menu > div{
    width: 40px;
    border: solid 3px white;
    border-radius: 3px;
    margin: 7px;
}
@media screen and (max-width: 1000px){
    h3{
        padding: 1rem;
    }
    .nav-link{
        display: none;
    }
    .nav > div{
        margin: 0.5rem;
        padding: 1rem;
    }
    #phone-navigation-menu{
        position: fixed;
        top: -100vh;
        left: 0;
        display: block;
        height: 100vh;
        width: 100%;
        background-color: black;
        color: white;
    }
    #phone-navigation-menu.active{
        top: 0 !important;
    }
    #exit-cross{
        margin: 1rem 2rem;
        height: 78px;
        width: 78px;
        cursor: pointer;
    }
    #exit-cross > div{
        position: absolute;
        width: 60px;
        border: 3px solid white;
        border-radius: 3px;
        top: calc(1rem + 39px);
    }
    #exit-cross > div:first-child{
        transform: rotate(45deg);
    }
    #exit-cross > div:nth-child(2){
        transform: rotate(-45deg);
    }
    #phone-navigation-menu > .navigation{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .phone-nav-link{
        text-align: center;
        font-size: 1.7rem;
        padding: 1rem;
    }
    .phone-nav-link > a{
        text-decoration: none;
        color: white;
    }
}
@media screen and (min-width: 1000px) {
    .nav-logo-container > img{
        margin-left: 1rem;
    }
    .nav{
        margin-right: 1rem;
    }
    #burger-menu{
        display: none;
    }
    #phone-navigation-menu{
        display: none;
    }
    .nav > div{
        font-size: 1.4rem;
        width: max-content;
        margin: 1rem;
        padding: 1rem;
    }
    .nav > div > a{
        text-decoration: none;
        color: white;
    }
}